<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Journal</title>

</head>

<body>
    <header>Travel Planner</header>

    <main>
        <section class="input">
            <div class="toCityHolder">
                <label for="city">Trip To:</label>
                <input type="text" id="city" placeholder="Enter Location eg.Sydney">
            </div>
            <div class="departDateHolder">
                <label for="departDate">Departing:</label>
                <input type="date" id="departDate" placeholder="11/10/2021">
            </div>
            <div class="lengthHolder">
                <label for="length">Stay there for:</label>
                <input type="number" id="length" placeholder="14">
            </div>
            <button id="save" type="submit">Save Trip</button>
        </section>
        <section class="journal">
            <div class="tripInfo">
                <div id="destination">My Trip to Sydney</div>
                <div id="departing">Departing: 11/10/2021</div>
                <div id="backing">Backing: 25/10/2021</div>
            </div>
            <div id="dueDays">Tirp to Sydney is <u>66</u> days away</div>
            <img id="cityImage">
            <div id="cityInfo">City Info: Sydney is the Capital of Australia, it's a very famous city.</div>
            <div class="weatherHolder">Weather Info
                <div class="weather" id="high">High: 99c</div>
                <div class="weather" id="low">Low: 0c</div>
                <div class="weather" id="Wind">Wind Speed: 6.4 Direction: NorthEast</div>
                <div class="weather" id="description">Overcast clouds</div>
            </div>
            <button id="remove">Remove Trip</button>

        </section>
    </main>

    <footer></footer>

</body>

</html>