header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8vh;
  font-weight: 500;
  padding-left:2vw;
  padding-right: 2vw;
  padding-top: 4vh;
  margin-bottom: 4vh;
}

@media(max-width:1100px) {
  header{
    font-size: 5vh;
  }

}