.input {
  background-color: #d9cab3;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 3vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: minmax(3vh, auto);
}

#toCity {
  grid-column: 1/2;
  grid-row: 1/2;
}

#departDate {
  grid-column: 1/2;
  grid-row: 2/3;
}

#howLong {
  grid-column: 1/2;
  grid-row: 3/4;
}

#save {
  grid-column: 2/3;
  grid-row: 1/4;
  border-radius: 5px;
  border:0px;
  height: 6vh;
  width: 15vw;
}

#save:hover{
    background-color: #6D9886;
}
